<%- include('partials/header') %>
<!-- Article Detail Container -->
<div class="container py-4">
  <div class="bg-white shadow-sm rounded p-4">
    <h2 class="h3 font-weight-bold text-dark mb-4"><%= article.title %></h2>
    <p class="text-muted mb-2">
      <span class="font-weight-semibold text-dark">Category:</span>
      <span class="text-primary"><%= article.classification %></span>
    </p>
    <p class="text-muted mb-4">
      <span class="font-weight-semibold text-dark">Author:</span>
      <span class="text-info"><%= article.author %></span>
    </p>
    <p class="text-muted mb-4">
      <span class="font-weight-semibold text-dark">Publish Date:</span>
      <span class="text-info"><%= article.publish_date %></span>
    </p>
    <div class="article-text">
      <%- article.article_text %>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
