<%- include('partials/header') %>
  <!-- Table Container -->
  <div class="container py-4">
    <div class="table-responsive">
      <script src="/socket.io/socket.io.js"></script>
      <div class="d-flex align-items-center bg-primary text-white text-sm font-weight-bold px-3 py-2" role="alert">
        <div id="status"></div>
      </div>
      <table class="table table-bordered bg-white shadow-sm">
        <thead class="bg-dark text-white">
          <tr>
            <th class="py-2 px-3 border-bottom">Title</th>
            <th class="py-2 px-3 border-bottom">Category</th>
            <th class="py-2 px-3 border-bottom">Author</th>
          </tr>
        </thead>
        <tbody id="articles-body">
          <% articles.forEach(article => { %>
            <tr class="border-bottom">
              <td class="py-2 px-3"><a href="/article/<%= article.id %>" class="text-primary text-decoration-none"><%= article.title %></a></td>
              <td class="py-2 px-3 text-primary"><%= article.classification %></td>
              <td class="py-2 px-3 text-info"><%= article.author %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <br/>
    <div class="d-flex justify-content-center py-3">
      <nav aria-label="Pagination">
        <ul class="pagination">
          <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage == i ? 'active' : '' %>">
              <a href="?page=<%= i %>&limit=10" class="page-link">
                <%= i %>
              </a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
    <script>
      const socket = io();

      socket.on('articleProcessing', (data) => {
          const statusDiv = document.getElementById('status');
          if (data.status === 'started') {
              statusDiv.innerHTML = `<p >Started processing article: ${data.articleLink}</p>`;
          } else if (data.status === 'completed') {
              statusDiv.innerHTML = `<p>Completed processing article: ${data.articleLink}</p>`;
              location.reload();
          }else if (data.status === 'database') {
              statusDiv.innerHTML = `<p>Adding to database: ${data.articleLink}</p>`;
          }else if (data.status === 'processing') {
              statusDiv.innerHTML = `<p>Processing article: ${data.articleLink}</p>`;
          } else if (data.status === 'error') {
              statusDiv.innerHTML = `<p>Error processing article: ${data.articleLink}. Error: ${data.error}</p>`;
          }
      });
  </script>
  </div>

<%- include('partials/footer') %>
