<%- include('partials/header') %>
  <!-- Table Container -->
  <div class="container mx-auto p-6">
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="py-3 px-4 border-b">Title</th>
            <th class="py-3 px-4 border-b">Category</th>
            <th class="py-3 px-4 border-b">Publish Date</th>
            <th class="py-3 px-4 border-b">Author</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(article => { %>
            <tr class="border-b">
              <td class="py-3 px-4"><a href="/article/<%= article.id %>" class="text-blue-500 hover:underline"><%= article.title %></a></td>
              <td class="py-3 px-4 text-blue-500"><%= article.classification %></td>
              <td class="py-3 px-4 text-green-500"><%= article.publish_date %></td>
              <td class="py-3 px-4 text-indigo-500"><%= article.author %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

<%- include('partials/footer') %>
